<p id="notice"><%= notice %></p>
<br><br><br>
<div class="align_right"><%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Back', projects_path %></div>
<br><br><br>
<table class="center" border="1">
  <tr><th>Name</th></tr>
  <tr><td><%= @project.name %></td></tr>
</table>


